body {
	margin:0px;
	padding:0px;
	background:#222;
}
div, p, span, a, h1, h2, h3, h4, h5, h6, form {
	margin:0px;
	padding:0px;
}	
.container {
	margin:0px auto;
	padding:0px;
	overflow:hidden;
	width:960px;
	background:#FFF;
}
.main {
	margin:0px;
	padding:0px;
	width:960px;
	float:left;
}
.header {
	margin:0px;
	padding:0px;
	width:960px;
	float:left;
}
.navigator {
	margin:0px;
	padding:0px;
	width:960px;
	height:60px;
	float:left;
	background:#000;
}
ul.nav {
	margin:0px;
	padding:22px 0px 0px 20px;
	list-style:none;
}
ul.nav li {
	margin:0px;
	padding:2px 18px 2px 18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#FFF;
	font-weight:normal;
	float:left;
	display:block;
	line-height:12px;
	border-left:1px solid #444;
}
ul.nav li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:normal;
}
ul.nav li a:hover {
	text-decoration:underline;
	color:#26d3ff;
	font-weight:normal;
}
.mid {
	margin:0px;
	padding:0px;
	width:960px;
	float:left;
}
.mid-left {
	margin:0px;
	padding:0px 0px 20px 0px;
	width:240px;
	float:left;
	background:#DDD;
}
.mid-right {
	margin:0px;
	padding:0px 0px 20px 0px;
	width:720px;
	float:left;
}
h1 {
	margin:0px;
	padding:10px 30px 10px 40px;
	font-family:"Times New Roman", Times, serif;
	font-size:30px;
	text-decoration:none;
	color:#222;
	font-weight:normal;
	line-height:30px;
}
p.txt-1 {
	margin:0px 0px 0px 0px;
	padding:5px 30px 10px 40px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#000;
	font-weight:normal;
	line-height:24px;
}
h3 {
	margin:0px;
	padding:10px 10px 10px 30px;
	font-family:"Times New Roman", Times, serif;
	font-size:24px;
	text-decoration:none;
	color:#222;
	font-weight:normal;
	line-height:30px;
}
ul.sidebar {
	margin:0px;
	padding:0px 5px 0px 30px;
	list-style:none;
}
ul.sidebar li {
	margin:0px 0px 5px 0px;
	padding:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#000;
	font-weight:normal;
	line-height:24px;
}
ul.sidebar li a {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:underline;
	color:#000;
	font-weight:normal;
}
ul.sidebar li a:hover {
	text-decoration:none;
	color:#000;
	font-weight:normal;
}
.footer {
	margin:0px;
	padding:14px 20px 20px 20px;
	width:960px;
	background:#BBB;
	float:left;
}
